{% extends 'base.html' %}
{% block body %}
<div class="container">
          <h1 class="text-bold  text-center mt-5 mb-5">Contact</h1>

            <hr>
<div class="mapouter mb-5"><div class="gmap_canvas d-flex justify-content-center"><iframe width="900" height="361" id="gmap_canvas" src="https://maps.google.com/maps?q=23.821863568166677,%2090.3542608817436&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;} .gmap_canvas {overflow:hidden;background:none!important;}</style></div></div>
<section class="mt-30 mt-md-50">

	<form action="javascript:void(0);" method="post" class="mt-20" >
		<input type="hidden" name="_token" value="QTVX8D5iLmo45xZNGWsqPMoaSrs8YTiyeExDi2rP">

		<div class="row">
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label class="input-label font-weight-500">Your name</label>
					<input type="text" name="name" value="" class="form-control "/>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label class="input-label font-weight-500">Email</label>
					<input type="text" name="email" value="" class="form-control "/>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label class="input-label font-weight-500">Phone</label>
					<input type="text" name="phone" value="" class="form-control "/>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="form-group">
					<label class="input-label font-weight-500">Subject</label>
					<input type="text" name="subject" value="" class="form-control "/>
				</div>
			</div>
		</div>

		<div class="row mb-2">
			<div class="col-12">
				<div class="form-group">
					<label class="input-label font-weight-500">Message</label>
					<textarea name="message" id="" rows="10" class="form-control "></textarea>
				</div>
			</div>
		</div>


		<button type="submit" class="btn btn-primary mt-20">Send Message</button>
	</form>
</section>


</div>
{% endblock body %}    