{% extends 'adminbase.html' %}
{% block body %}
<div class="container text-center">
          <h1 class="text-bold  mt-5 ">All Movies</h1>
          <a href="{% url 'addmovie' %}" class="btn btn-primary">Add Movie</a>
          <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for m in movies %}
        <tr>
        <th scope="row ">{{forloop.counter}}</th>
        <td class="fw-bold text-info">{{m.title}}</td>
        <td>{{m.genre}}</td>
        <td>
        <a href="{% url "movieupdate" m.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url "moviedelete" m.id %}" class="btn btn-danger">Delete</a>
        </td>
        </tr>
    {% endfor %}
    
    
  </tbody>
</table>

          
</div>
{% endblock body %}    