{% extends 'base.html' %}
{% block body %}
        <div class="">
          <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {% for slider in sliders %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}" data-bs-interval="2000">
      <a href="{% url "moviedetails" slider.id %}"><img src="{{slider.image.url}}" class="d-block w-100 img-fluid" alt="{{slider.title}}"></a>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<div class=" mt-3">

  <h1>MOVIES</h1>

  <div class="owl-carousel owl-theme">
    {% for movie in latest_movie %}
    <a href='{% url "moviedetails" movie.id %}'><div class="item "><h4><img src="{{movie.image.url}}" alt="{{movie.title}}" ></h4></div></a>
    {% endfor %}
</div>



</div>
{% endblock body %}    