{% extends 'adminbase.html' %}
{% block body %}
<div class="text-center" style="align-items: center;
display: flex;
flex-direction: column;">
          
            <h2 class="text-bold  mt-5 mb-2">Site Info</h2> 
            <a class="btn btn-warning mb-5" href="{% url "editinfo" %}"> Update </a>
          

          <div class="card w-50">
            <h5> Site Name  : <span class="text-muted" >{{siteinfo.name}}</span></h5>
            <h5> Site Name  : <span class="text-muted" >{{siteinfo.email}}</span></h5>
            <h5> Site Name  : <span class="text-muted" >{{siteinfo.phone}}</span></h5>
          </div>
          <h5> About</h5>
          <div class="card w-50">
            <p>
                {{siteinfo.about}}
            </p>
          </div>
          
</div>
{% endblock body %}    